body {
    background-color: blue;
    font-family: cursive;
}

.MC {
    font-size: 80px;
    color: white;
     position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scheinen 2s ease-in-out infinite alternate;
}

@-webkit-keyframes scheinen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 50px blue, 0 0 70px red, 0 0 90px green, 0 0 110px yellow, 0 0 130px purple;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 50px blue, 0 0 70px red, 0 0 90px green, 0 0 110px yellow, 0 0 130px purple, 0 0 150px white;
  }
}


.baum-layer1 {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid #046944;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;

}
.baum-layer2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #038052;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}
.baum-layer3 {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid #046944;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.baum-layer4 {
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 140px solid #038052;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.baum-layer5 {
    width: 0;
    height: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 160px solid #046944;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.baum-layer6 {
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 180px solid #038052;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.baumstamm {
    width: 3%;
    height: 15%;
    background: #66503e;
    position: fixed;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stern {
    position: fixed;
    width: 60px;
    height: 50px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    box-shadow:
    0 0 50px 50px white,
    0 0 50px 50px red,
    0 0 50px 50px red;
}


.Kugel1 {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 7;
    left: 48%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: red;
    box-shadow:
    0 0 5px 5px white,
    0 0 5px 5px red,
    0 0 5px 5px red;
}

.Kugel2 {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 7;
    left: 52%;
    top: 36%;
    transform: translate(-50%, -50%);
    background: blue;
    box-shadow:
    0 0 5px 5px white,
    0 0 5px 5px blue,
    0 0 5px 5px blue;
}

.Kugel3 {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 7;
    left: 46%;
    top: 42%;
    transform: translate(-50%, -50%);
    background: green;
    box-shadow:
    0 0 5px 5px white,
    0 0 5px 5px green,
    0 0 5px 5px green;
}

.Kugel4 {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 7;
    left: 54%;
    top: 48%;
    transform: translate(-50%, -50%);
    background: yellow;
    box-shadow:
    0 0 5px 5px white,
    0 0 5px 5px yellow,
    0 0 5px 5px yellow;
}

.Kugel5 {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 7;
    left: 45%;
    top: 54%;
    transform: translate(-50%, -50%);
    background: purple;
    box-shadow:
    0 0 5px 5px white,
    0 0 5px 5px purple,
    0 0 5px 5px purple;
}