html,body {
  background-color: darkred;
  
  height: 98%;
  padding: 0.1%;
}

.grid-container {
  display: grid; 

  grid-template-rows:  10% 90%;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  
  gap: 10px;
  height: 99.9%;


}
 
#item-0 {
  background-color: #146B3A; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 6;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2vw;
  font-family: cursive;
  font-weight: bolder;

  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: PaleGoldenRod;
  outline: none;
  text-shadow:1px 1px 10px rgb(244, 239, 193), 1px 1px 10px #ccc;
}

#item-1 {
  background-color: white; 
  grid-row-start: 1;
  grid-column-start: 6;

  grid-row-end: 2;
  grid-column-end: 7;

  display: flex;
  justify-content: center;
  align-items: center;
}

#item-2 {
  background-color: #F8B229; 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#item-3 {
  background-color: #EA4630; 
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;

  padding: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2vw;
  font-family: 'Gambetta', serif;
  font-weight: bolder;
  text-align: center;
  line-height: 200%;
  color: PaleGoldenRod;
  letter-spacing: .5px;
}

#item-4 {
  background-color: #BB2528;
  grid-row-start: 2;
  grid-column-start: 5;

  grid-row-end: 3;
  grid-column-end: 7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr img {
  width: 4vw;
  height: 4vw;
}

.gift img {
  width: 15vw;
  height: 15vw;
}

.video iframe {
  width: 30vw;
  height: 18vw;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}